
{% extends 'base.html' %}


{% block content %}

    <div class="main-footer" style = "color:black;">


    <!-- تفاصيل الطالب -->
        <h1>تفاصيل الطالب ({{ student.full_name }})</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">الصورة</th>
                    <td><img src="{{ student.image.url }}" alt="{{ student.full_name }}" width="200"></td>
                </tr>
                <tr>
                    <th scope="row">الاسم الرباعي</th>
                    <td>{{ student.full_name }}</td>
                </tr>
                <tr>
                    <th scope="row">رقم الهوية</th>
                    <td>{{ student.id_number }}</td>
                </tr>
                <tr>
                    <th scope="row">تاريخ الميلاد</th>
                    <td>{{ student.birth_date }}</td>
                </tr>
                <tr>
                    <th scope="row">العنوان</th>
                    <td>{{ student.address }}</td>
                </tr>
                <tr>
                    <th scope="row">رقم الجوال</th>
                    <td>{{ student.personal_mobile }}</td>
                </tr>
                <tr>
                    <th scope="row">رقم جوال ولي الامر</th>
                    <td>{{ student.guardian_mobile }}</td>
                </tr>
                <tr>
                    <th scope="row">الحفظ الحالي</th>
                    <td>{{ student.current_hifz }}</td>
                </tr>
                <tr>
                    <th scope="row">مرحلة التعليم</th>
                    <td>{{ student.education_stage }}</td>
                </tr>
                <tr>
                    <th scope="row">الغياب الشهري</th>
                    <td>{{ student.Monthly_absence }}</td>
                </tr>
                <tr>
                    <th scope="row">المحفظ</th>
                    <td>{{ student.teacher}}</td>
                </tr>
                <!-- إضافة المزيد من التفاصيل حسب احتياجاتك -->
            </tbody>
        </table>
    </div>



{% endblock content %}


